/* profile.css */

.profile-container {
  margin: 0 auto; /* Pour centrer horizontalement */
  max-width: 100%; /* Pour occuper toute la largeur disponible */
  padding: 20px;
  background-color: #fff;
}

.profile-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-container p {
  margin-bottom: 10px;
}

.profile-container ul {
  list-style-type: none;
  padding-left: 0;
}

.profile-container li {
  margin-bottom: 10px;
}

.profile-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 20px;
}

.profile-container button:hover {
  background-color: #0056b3;
}
